<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>release</id>
      <properties>
        <gpg.passphrase>${env.PGP_PASSPHRASE}</gpg.passphrase>
        <gpg.defaultKeyring>false</gpg.secretKeyring>
        <gpg.secretKeyring>/home/travis/secring/signingKeyRing.gpg</gpg.secretKeyring>
        <gpg.publicKeyring>/home/travis/secring/pubKeyRing.gpg</gpg.secretKeyring>
        <gpg.keyname>${env.PGP_DEFAULT_KEY}</gpg.keyname>
      </properties>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
  </servers>
  <activeProfiles>
    <activeProfile>release</activeProfile>
  </activeProfiles>
</settings>
